    <div class="container-fluid">
            <div class="block-header">
                <h2>Add/Remove Roles</h2>
            </div>

            <div class="row clearfix">
                <!-- Table -->
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="card">
                        <div class="header">
                            <h2>Add Role</h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <%= form_tag(add_role_path(:role, :privilege, :id => @world.id), {:method => :post, :class => "form form-horizontal"}) do %>
                         Role: <%= text_field_tag :role %>
                         Privilege: <%= select_tag :privilege, options_for_select(@privileges) %>

            <p><%= submit_tag 'Submit', class: "btn btn-lg btn-primary"  %></p>
              <% end %>
                        </div>
                    </div>
                </div>
                <!-- #END# Table -->

                <!-- Table -->
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="card">
                        <div class="header">
                            <h2>Remove Role</h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                        
                        </div>
                    </div>
                </div>
                <!-- #END# Table -->

        </div>
    </section>



