	<div class="container-fluid">
      <div class="block-header">
          <h2>Edit World</h2>
      </div>

      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <div class="card">
            <div class="header">
                <h2>Edit world</h2>
            </div>
          	
						
            <div style="padding: 2%">
            <%= render 'form', world: @world %>    
   </div>
          </div
        </div>    
      </div>
  </div>
</section>

