    <div class="container-fluid">
            <div class="block-header">
                <h2>Worlds</h2>
            </div>

            <div class="row clearfix">
                <!-- Table -->
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="card">
                        <div class="header">
                            <h2>Worlds I am connected to</h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-hover dashboard-task-infos">
                                    <thead>
                                        <tr>
                                            <th>World Title</th>
                                            <th>User Role</th>
                                            <th>World created on</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% @myWorlds.each do |world| %>
	                                        <% data = JSON(world.role_table) %>
	  										<% data.each do |user_id, role| %>
	                                        <tr>                          
	                                            <td><%= world.title %></td>
	                                            <td><%= role %></td>
	                                            <td><%= world.created_at %></td>
	                                        </tr>
	                                    	<% end %>    
                                        <% end %>
                                        
                                       

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #END# Table -->
        </div>
    </section>



