	<div class="container-fluid">
      <div class="block-header">
          <h2>Viewing World</h2>
      </div>

      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <div class="card">
            <div class="header">
                <h2>Search For Logs</h2>
            </div>			
            <div style="padding: 2%">
            <%= form_tag(query_path(:queryUser), {:method => :get, :class => "form form-horizontal"}) do %>
              Username: <%= text_field_tag :queryUser %>
            <p><%= submit_tag 'Submit', class: "btn btn-lg btn-primary"  %></p>
              <% end %>

   			</div>
          </div>

        </div>    
      </div>
  </div>
</section>




